/* navigation */
.navigation{
    background: linear-gradient(to left, rgb(122, 214, 61), rgb(133, 211, 43), rgb(83, 117, 39));
    border-radius: 0 0 10% 20%;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1em;
    margin-bottom: 1em;
}

.navigation__minimalLetter{
    font-size: 0.5em;
}

.navigation__torreSpan{
    font-size: 1em;
}

/* indications */
.infoUser{
    background-color: #CFF4FC;
    color: #22272c;
    border-radius: .5em;
    padding: 1em;
    margin-bottom: 0.5em;
}

.infoUser__infoDesc{
    font-size: 1em;
    width: 100%;
    margin: 0;
}

@media (min-width: 481px) and (max-width: 767px) {
  
    .infoUser__infoDesc{
        font-size: 3vw;
    }
  }
  
@media (min-width: 320px) and (max-width: 480px) {

    .infoUser__infoDesc{
        font-size: 3vw;
    }
}

/* search bar*/
.searchBar{
    margin-bottom: 0.8em;
}

.searchBar__searchBox {
    position: relative;
    background: #2f3640;
    height: 2em;
    border-radius: 1em;
    /* padding: 10px; */
}

.searchBar__searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding-left: 12px;
    color: white;
    font-size: 16px;
    line-height: 2em;
    width: 80%;
}

.searchBar__searchButton {
    color: white;
    float: right;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border-width: 0em;
    border-style: outset;
    border-color: rgb(133, 133, 133);
    border-image: none;
}

/* footer */
.footerMain{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to left, rgb(122, 214, 61), rgb(133, 211, 43), rgb(83, 117, 39));
    color: white;
    margin-top: 1em;
}

.footerMain__el-contact{
    padding: 0.3em;
    font-size: 1em;
}
  
.footerMain__el-contact p{
    margin: 0;
}





